@media screen and (max-width: 600px){
  /* MAIN CONTENT */
  .center_nav, .right_nav{
    display: none !important;
  }
  .address_nav{
    display: none !important;
  }
  .counter{
    grid-gap: 20px;
  }
  .project_counter .project_counter_header{
    margin-bottom: 20px;
  }
  h1{
    line-height: 2.6rem;
  }
  .main_bg{
    padding-bottom: 2rem;
  }
  .btn_group button:last-child{
    margin-top: 10px;
  }
}