.cta-bg{
  background-color: rgba(182, 74, 89, 0.065);
  width: 100%;
  height: 35rem;
  margin-top: 10rem;
}
.cta_container{
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cta_container > .right_column{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cta_container > .right_column img:first-child{
  position: absolute;
  right: -5%;
  bottom: 10%;
  height: 100px;
  width: 100px;
  object-fit: contain;
}
.calc_img{
  position: absolute;
  left: -30%;
  bottom: 5%;
  height: 320px;
  width: 320px;
  object-fit: contain;
  z-index: 999;
}
.calc_img2{
  position: absolute;
  right: 0%;
  bottom: 40%;
  height: 220px;
  width: 220px;
  object-fit: contain;
  z-index: 999;
}
.cta_container > .right_column img:last-child{
  position: absolute;
  bottom: 0;
  left: -5%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cta_container > .left_column{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cta_container > .left_column h2{
  width: 80%;
}
.cta_container > .left_column p{
  margin-top: 10px;
  width: 75%;
}
.cta_container > .left_column a{
  margin-top: 35px;
}
