.cta_bg{
  margin-top: 8rem;
  background-color: #20345f;
  width: 100%;
  height: auto;
  min-height: 30rem;
  display: grid;
  grid-template-rows: 40% 1fr;
}
.cta_header{
  width: 100%;
  height: 65%;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cta_header h2{
  color: #fff;
}
.cta_content{
  width: 80%;
  height: 65%;
  margin: 0 auto auto auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  justify-content: center;
  align-items: center;
}
.cta_content > div{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cta_content > div:not(:first-child)::before{
  content: '';
  position: absolute;
  border: 0.5px dashed rgba(255, 246, 246, 0.1);
  width: 50%;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
.cta_content > div span, h3{
  color: #fff;
  font-weight: 500;
  margin-top: 20px;
}
.cta_content > div span{
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}
.cta_content > div .dot{
  position: relative;
  border: 6px solid rgb(26, 180, 154);
  border-radius: 50%;
}
.cta_content > div .dot::before{
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 22px;
  content: '';
  border: 3px solid rgb(26, 180, 154);
  border-radius: 50%;
}