.footer_container{
  position: relative;
  background-color: #292b30;
  height: 15rem;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.footer_navbar{
  color: #f1f1f1;
  margin-bottom: 3rem;
}
.footer_navbar ul li{
  border: unset !important;
}
.footer_navbar ul li a{
  color: #f1f1f1 !important;
  font-weight: 400 !important;
  border: unset !important;
  white-space: nowrap;
}
.footer_navbar ul li{
  color: #f1f1f1 !important;
  font-weight: 400 !important;
  background-color: transparent !important;
  border: unset !important;
}
.main_navbar.footer_navbar .right_nav li:last-child{
  padding: 0px !important;
}
.main_navbar.footer_navbar .right_nav li:last-child:hover{
  background-color: transparent !important;
}
.footer_social_icon{
  display: grid;
  grid-template-columns: repeat(3, 40px);
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  position: absolute;
  top: 55%;
  width: 2rem;
  margin-bottom: 20px;
}
.footer_social_icon > div{
  position: relative;
  color: #f1f1f1;
  background-color: rgba(100, 100, 100, 0.048);
  padding: 15px;
  border-radius: 5rem;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: all .4s ease;
  cursor: pointer;
}
.copyright{
  height: 4rem;
  position: relative;
  top: -10px;
}
.copyright span{
  color: #f1f1f1;
  font-weight: 500;
  font-size: 15px;
}