.header_container{
  width: 100%;
  height: 6rem;
  background-color: rgba(244, 232, 216, 0.4);
}
.main_navbar{
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
}
.main_navbar ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  padding-right: 20px;
  width: 140px;
  height: 80px;
}
.logo img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.main_navbar ul li{
  display: flex;
  align-items: center;
}
.main_navbar ul li > *{
  position: relative;
  top: 0;
  transition: all .4s ease;
}
.main_navbar ul li:hover *{
  color: rgba(232, 56, 59, 0.8);
  top: -2px;
}
.main_navbar ul li a{
  color: #333;
  position: relative;
  border: unset;
  font-weight: 700;
  font-size: 14px;
}
.main_navbar .right_nav .phone-icon{
  position: relative;
  left: -2px;
  top: 2px;
}
.main_navbar .right_nav li:last-child{
  /* background-color: rgba(252, 96, 117, 0.06); */
  border: 1px solid #e8383b ;
  padding: 12px 20px;
  border-radius: 50px;
  color: #e8383b;
}
.main_navbar .right_nav li:last-child:hover{
  background-image: linear-gradient(-20deg, #e8383b 0%, #FF763D 100%);
  color: #fff !important; 
  border: 1px solid transparent;
}
.main_navbar .right_nav li:last-child a{
  top: unset;
  color: inherit;
  font-weight: 600;
}
img{
  width: 40px;
  height: 40px;
  object-fit: cover;
}