.notice_board_container{
  background-color: rgba(252, 96, 117, 0.065);
  border-radius: 5rem;
  margin-bottom: 1rem;
  padding: 6px 20px 6px 0;
  width: fit-content;
  margin-left: 5px;
}
.notice_board_container > .notice{
  white-space: nowrap;
  margin-top: 0;
  font-size: 14px;

}
.notice_board_container > .notice > span{
  background-image: linear-gradient(-20deg, #e8383b 0%, #FF763D 100%) !important;
  color: #fff;
  border-radius: 5rem;
  padding: 4px 8px;
  position: relative;
  left: -5px;
  white-space: nowrap;
  margin-top: 0;
  font-weight: 400;
  font-size: 14px;
}