.sleak_link_icons{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  margin-top: 2rem;
}
.sleak_link_icons > div{
  position: relative;
  background-color: transparent;
  border: 1px solid #73809d;
  border-radius: 5rem;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: all .4s ease;
  cursor: pointer;
  margin: 0 5px;
  transform: all .6s ease;
  color: #b1bed3;

}
.sleak_link_icons > div:hover{
  background: #fff;
  color: #333;
}
.sleak_link_icons > div > *{
  font-size: 1.5rem;
  padding: 10px;
  width: 40px;
  height: 40px;
  color: inherit;
}