.testimonies_bg{
  /* background-color: rgba(182, 74, 89, 0.065); */
  height: 40rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto 0 auto;
}
.testimonies_container{
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonies_container > .header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 40px auto 0 auto;
  text-align: center;
}
.testimonies_container > .header p{
  width: 80%;
  margin: 5px auto 0 auto;
  text-align: center;
}
.carousel{
  position: relative;
  width: 100% !important;
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 600px;
  margin-top: 40px;
}
.slide{
  position: relative;
  width: 32% !important;
  height: 22rem !important;
  padding: 20px 0;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  /* margin: auto 2px; */
  border-radius: 10px;
  background-color: #fff;
  transform: scale(1);
  transition: transform 1s ease; 
  box-shadow: 0 10px 10px rgba(82, 37, 37, 0.1);
}
.slide:not(.is-selected){
  transform: scale(0.9);
}
.slide .img_wrapper{
  margin: 0 auto;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #fff;
}
.slide .img_wrapper::before{
  content: '';
  background-color: #eee;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  z-index: -1;
}
.slide .img_wrapper img{
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  object-position: top;
  padding: 2px;
  border-radius: 50%;
}
/* rating star icon start */
.rating{
  width: 35%;
  object-fit: unset;
}
.carousel_content{
  /* margin-top: 20px; */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
}
.review_user h3{
  font-weight: 600;
  margin-top: 10px;
}
.flickity-viewport{
  height: 100% !important;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}
/* position outside */
.flickity-prev-next-button.previous {
  left: -40px;
}
.flickity-prev-next-button.next {
  right: -40px;
}
